data/
results/
*.fastq
*.fastq.gz
*.bam
*.sam
*.vcf
.nextflow*
work/
# Reference genomes and indexes
reference/*.fa
reference/*.fasta
reference/*.amb
reference/*.ann
reference/*.bwt
reference/*.pac
reference/*.sa
